@model DiscountCatalog.MVC.REST.Manager.ManagerREST

@{
    ViewBag.Title = "DeleteManager";
}

<div id="user-info">
    @*<div class="avatar" style="background-image: url(@Url.Action("GetManagerImage", "StoreAdmin", new { id = Model.Id }));"></div>*@
    <div class="avatar" style="background-image: url(data:image/gif;base64,@Convert.ToBase64String(Model.Identity.UserImage)"></div>
    <h2>@Model.Identity.UserName</h2>
</div>

<hr />  

<h3>Are you sure you want to delete @Model.Identity.UserName?</h3>

<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Identity.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.Street)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a href="@Url.Action("ManagerDetails", "StoreAdmin", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
    }
</div>


@Styles.Render("~/Content/IndividualPageStyles/Common")

@Styles.Render("~/Content/IndividualPageStyles/Delete")

@Scripts.Render("~/Scripts/IndividualPageScripts/Common")

@Scripts.Render("~/Scripts/IndividualPageScripts/Delete")
