@model DiscountCatalog.MVC.REST.Manager.ManagerREST

@{
    ViewBag.Title = "DeleteManager";
}

<h2>Delete @Model.Identity.UserName</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Identity.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identity.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity.Street)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetAllManagers")
        </div>
    }
</div>
