@model DiscountCatalog.MVC.REST.Store.StoreREST

@{
    ViewBag.Title = "DeleteStore";
}

<div id="store-info">
    <div class="avatar" style="background-image: url(@Url.Action("GetStoreImage", "StoreAdmin", new { id = Model.Id })); "></div>
    <h2 style="display: inline">@Model.StoreName</h2>
</div>

<hr />

<h3>Are you sure you want to delete @Model.StoreName?</h3>

<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            <br />
            @Html.DisplayName("Working hours")
        </dt>

        <dd>
            <br />
            <table class="working-hours-table">
                <tr>
                    @if (!string.IsNullOrEmpty(Model.WorkingHoursWeekBegin) && !string.IsNullOrEmpty(Model.WorkingHoursWeekEnd))
                    {
                        <td>Week: </td>
                        <td>@Model.WorkingHoursWeekBegin - @Model.WorkingHoursWeekEnd</td>
                    }
                </tr>
                <tr>
                    @if (!string.IsNullOrEmpty(Model.WorkingHoursWeekendsBegin) && !string.IsNullOrEmpty(Model.WorkingHoursWeekendsEnd))
                    {
                        <td>Weekends: </td>
                        <td>@Model.WorkingHoursWeekendsBegin - @Model.WorkingHoursWeekendsEnd</td>
                    }
                </tr>
                <tr>
                    @if (!string.IsNullOrEmpty(Model.WorkingHoursHolidaysBegin) && !string.IsNullOrEmpty(Model.WorkingHoursHolidaysEnd))
                    {
                        <td>Holidays: </td>
                        <td>@Model.WorkingHoursHolidaysBegin - @Model.WorkingHoursHolidaysEnd</td>
                    }
                </tr>
            </table>
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a href="@Url.Action("StoreDetails", "StoreAdmin", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
    }
</div>

@Styles.Render("~/Content/IndividualPageStyles/Delete")
@Scripts.Render("~/Scripts/IndividualPageScripts/Delete")
