@model PagedList.IPagedList<DiscountCatalog.MVC.REST.Manager.ManagerREST>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AllDeletedManagers";
}

<h2><span class="glyphicon glyphicon-trash"></span> All deleted managers</h2>

<div class="search-container">

    @using (Html.BeginForm("GetAllDeletedManagers", "StoreAdmin", FormMethod.Get))
    {
        <p>Find by name: </p> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", id = "search-box" })
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    }
</div>

<div class="table-container">

    <table class="table" id="main-table">
        <tr>
            <th></th>
            <th>
                @Html.ActionLink("UserName", "GetAllDeletedManagers", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "stay" })
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Address
            <th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="main-table-data-row">
                <td>

                    <div class="avatar" style="background-image: url(@Url.Action("GetManagerImage", "StoreAdmin", new { id = item.Id })); width: 50px; height: 50px; vertical-align: middle; border-radius: 50%;"></div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.PhoneNumber)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Identity.Country) &&
                         !string.IsNullOrEmpty(item.Identity.City) &&
                         !string.IsNullOrEmpty(item.Identity.PostalCode) &&
                         !string.IsNullOrEmpty(item.Identity.Street))
                    {
                        <p>@item.Identity.Street, @item.Identity.PostalCode @item.Identity.City, @item.Identity.Country</p>
                    }
                </td>
                <td>
                    <a href="@Url.Action("RestoreManager", "StoreAdmin", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-repeat"></span> Restore</a>
                </td>

            </tr>
        }


    </table>

</div>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllDeletedManagers",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<a href="@Url.Action("GetAllManagers", "StoreAdmin")" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>

@Styles.Render("~/Content/IndividualPageStyles/Common")

@Styles.Render("~/Content/IndividualPageStyles/GetAll")

@Scripts.Render("~/Scripts/IndividualPageScripts/Common")

@Scripts.Render("~/Scripts/IndividualPageScripts/GetAll")
