@model PagedList.IPagedList<DiscountCatalog.Common.WebApiModels.WebApiStore>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "GetAllStores";
}

<h2>All stores</h2>

<p>
    @Html.ActionLink("Create New", "CreateStore")
</p>

@if (true)
{
    using (Html.BeginForm("GetAllStores", "StoreAdmin", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("StoreName", "GetAllStores", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Country
            </th>
            <th>
                City
            </th>
            <th>
                PostalCode
            </th>
            <th>
                Street
            </th>
            <th>
                Approved
            </th>
            <th>
                Managers
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (!item.Deleted)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Approved)
                    </td>
                    <td>
                        @{
                            foreach (var manager in item.Managers)
                            {
                                @Html.ActionLink(manager.UserName + " ", "DetailsManager", new { id = manager.Id });
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditStore", new { id = item.Id })
                        @Html.ActionLink("Details", "DetailsStore", new { id = item.Id })
                        @Html.ActionLink("Delete", "DeleteStore", new { id = item.Id })
                        @Html.ActionLink("Select", "Select", new { id = item.Id })
                    </td>
                </tr>
            }

        }

    </table>
}
else
{
    <p class="text-danger">- No stores</p>
}

@Html.ActionLink("All deleted stores", "GetAllDeletedStores")

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllStores",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))