@model PagedList.IPagedList<DiscountCatalog.MVC.REST.Manager.ManagerREST>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "GetAllManagers";
}

<h2>All Managers</h2>

<p>
    @Html.ActionLink("Create New", "CreateManager")
</p>

@using (Html.BeginForm("GetAllManagers", "StoreAdmin", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <td></td>
        <th>
            @Html.ActionLink("UserName", "GetAllManagers", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Email
        </th>
        <th>
            PhoneNumber
        </th>
        <th>
            Country
        </th>
        <th>
            City
        </th>
        <th>
            PostalCode
        </th>
        <th>
            Street
        </th>
        @*<th>
            Stores
        </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <div class="avatar" style="background-image: url(@Url.Action("GetManagerImage", "StoreAdmin", new { id = item.Id })); width: 50px; height: 50px; vertical-align: middle; border-radius: 50%;"></div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identity.Street)
        </td>
        @*<td>
            @{
                foreach (var store in item.Stores)
                {
                    @Html.ActionLink(store.StoreName + " ", "StoreDetails", new { id = store.Id });
                }
            }
        </td>*@
        <td>
            @Html.ActionLink("Edit", "EditManager", new { id = item.Id })
            @Html.ActionLink("Details", "ManagerDetails", new { id = item.Id })
            @Html.ActionLink("Delete", "DeleteManager", new { id = item.Id })
        </td>
    </tr>
    }


</table>

@Html.ActionLink("All deleted managers", "GetAllDeletedManagers")

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllManagers",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
