@model PagedList.IPagedList<DiscountCatalog.MVC.REST.Store.StoreREST>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "GetAllStores";
}

<h2>All stores</h2>

<p>
    @Html.ActionLink("Create New", "CreateStore")
</p>

@using (Html.BeginForm("GetAllStores", "StoreAdmin", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.ActionLink("StoreName", "GetAllStores", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Country
        </th>
        <th>
            City
        </th>
        <th>
            PostalCode
        </th>
        <th>
            Street
        </th>
        <th>
            Managers
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="avatar" style="background-image: url(@Url.Action("GetStoreImage", "StoreAdmin", new { id = item.Id })); width: 50px; height: 50px; vertical-align: middle; border-radius: 50%;"></div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @{
                    foreach (var manager in item.Managers)
                    {
                        <div class="avatar" style="display: inline-block; background-image: url(@Url.Action("GetManagerImage", "StoreAdmin", new { id = manager.Id })); width: 50px; height: 50px; vertical-align: middle; border-radius: 50%;"></div>
                        @Html.ActionLink(manager.Identity.UserName + " ", "ManagerDetails", new { id = manager.Id });
                        <br>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStore", new { id = item.Id })
                @Html.ActionLink("Details", "StoreDetails", new { id = item.Id })
                @Html.ActionLink("Delete", "DeleteStore", new { id = item.Id })
                @Html.ActionLink("Select", "Select", new { id = item.Id })
            </td>
        </tr>


    }

</table>

@Html.ActionLink("All deleted stores", "GetAllDeletedStores")

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllStores",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))