@model PagedList.IPagedList<DiscountCatalog.MVC.REST.Manager.ManagerREST>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "GetAllDeletedManagers";
}

<h2>All Deleted Managers</h2>

@using (Html.BeginForm("GetAllDeletedManagers", "StoreAdmin", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("UserName", "GetAllDeletedManagers", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Email
        </th>
        <th>
            PhoneNumber
        </th>
        <th>
            Country
        </th>
        <th>
            City
        </th>
        <th>
            PostalCode
        </th>
        <th>
            Street
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identity.Street)
                </td>
                <td>

                    @Html.ActionLink("Restore", "RestoreManager", new { id = item.Id });

                </td>
            </tr>
        }
    }

</table>

@Html.ActionLink("All managers", "GetAllManagers")

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllDeletedManagers",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
