@model DiscountCatalog.MVC.REST.Manager.ManagerREST

@{
    ViewBag.Title = "ManagerDetails";
}

<div id="user-info">
    <div class="avatar" style="background-image: url(@Url.Action("GetManagerImage", "StoreAdmin", new { id = Model.Id })); "></div>
    <h2>@Model.Identity.UserName</h2>
</div>

<hr />

<div class="main-details-window">

    <div class="image-form-container">

        @using (Html.BeginForm("PostManagerImage", "StoreAdmin", FormMethod.Post,
                                new { enctype = "multipart/form-data", id = "image-form" }))
        {
            <p>Upload a new image:</p>
            <label class="btn btn-primary" id="browse-button" for="default-file-browse"><span class="glyphicon glyphicon-folder-open"></span> Browse...</label>
            <input type="hidden" name="id" id="id" value="@Model.Id">
            <input id="default-file-browse" type="file" name="file" onchange="PreviewImage();" />
            <br>
            <img id="uploadedPreview" alt="">
            <br>
            <div id="form-actions">
                <button class="btn btn-secondary" type="submit"><span class="glyphicon glyphicon-upload"></span> Upload</button>
                <button class="btn btn-danger" id="cancel" type="button" onclick="Clear();"><span class="glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        }
    </div>

    <div class="user-info-container">

        <h4><span class="glyphicon glyphicon-user"></span> Manager info</h4>

        <dl class="dl-horizontal">
            <dt>
                Username
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.UserName)
            </dd>

            <dt>
                First name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.FirstName)
            </dd>

            <dt>
                Last name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.LastName)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.Email)
            </dd>

            <dt>
                Phone number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.PhoneNumber)
            </dd>
        </dl>

        <h4><span class="glyphicon glyphicon-map-marker"></span> Address</h4>

        <dl class="dl-horizontal">
            <dt>
                Country
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.Country)
            </dd>

            <dt>
                City
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.City)
            </dd>

            <dt>
                Postal code
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.PostalCode)
            </dd>

            <dt>
                Street
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Identity.Street)
            </dd>
        </dl>


        <h4><span class="glyphicon glyphicon-shopping-cart"></span> Stores</h4>

        @{ 
            Html.RenderPartial("_StoreList", Model.Stores);
        }

        @*<p>
            @{
                foreach (var store in Model.Stores)
                {
                    <div class="avatar" style="background-image: url(@Url.Action("GetStoreImage", "StoreAdmin", new { id = store.Id })); "></div>
                    @Html.ActionLink(store.StoreName + " ", "StoreDetails", new { id = store.Id });
                }
            }
        </p>*@


        <p>@Html.ActionLink("Assign stores", "GetManagerStores", new { id = Model.Id })</p>
    </div>
    <p>
        <a href="@Url.Action("EditManager", "StoreAdmin")" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <a href="@Url.Action("DeleteManager", "StoreAdmin")" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a> |
        <a href="@Url.Action("Back to list", "GetAllManagers")" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </p>
</div>

@Styles.Render("~/Content/IndividualPageStyles/Common")

@Styles.Render("~/Content/IndividualPageStyles/Details")

@Scripts.Render("~/Scripts/IndividualPageScripts/Details")
