@model IEnumerable<AbatementHelper.CommonModels.WebApiModels.WebApiStore>

@{
    ViewBag.Title = "GetAllDeletedStores";
}

<h2>Deleted stores</h2>

@if (Model != null && Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingHoursWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingHoursWeekends)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingHoursHolidays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Deleted)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkingHoursWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkingHoursWeekends)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkingHoursHolidays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.ActionLink("Restore", "RestoreStore", new { id = item.Id })
                    </td>
                </tr>
            }

        }

    </table>
}
else
{
    //displayat da nema obrisanih storova
}


@Html.ActionLink("All stores", "GetAllStores")