@model IEnumerable<AbatementHelper.CommonModels.Models.AuthenticatedUser>

<h4>Log in as store administrator</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Store administrator name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th></th>
    </tr>

    @foreach (var item in from item in Model where item.Role == "StoreAdmin" select item)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.ActionLink("Select", "StoreSelect", new { id = item.Id })
            </td>
        </tr>
    }

</table>




<h4>Log in as store</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Store name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th></th>
    </tr>

    @foreach (var item in from item in Model where item.Role == "Store" select item)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.ActionLink("Select", "StoreSelect", new { id = item.Id })
            </td>
        </tr>
    }

</table>

