@model IEnumerable<AbatementHelper.CommonModels.WebApiModels.WebApiProduct>

<link href="~/Content/product-card.css" rel="stylesheet" />

@{
    ViewBag.Title = "GetAllProducts";
}

<h2>GetAllProducts</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct")
</p>

<div class="container">
    <div class="row" id="products">
        <!-- Category Card -->
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-image">
                        @*<span class="card-notify-badge"></span>*@
                        <span class="card-notify-year">@item.DiscountPercentage%</span>
                        <img class="img-fluid" src="@Url.Action("GetProductImage", "Store", new { id = item.Id })" alt="Alternate Text" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge">@item.ProductOldPrice @item.Currency</span>
                        <span class="card-detail-badge">@item.ProductNewPrice @item.Currency</span>
                       
                    </div>
                    <div class="card-body text-center">
                        <div class="p-title m-auto">
                            <h5>@item.ProductName</h5>
                        </div>
                        @*<a class="p-btn" href="#">View</a>*@
                        @Html.ActionLink("Details", "ProductDetails", new { id = item.Id }, new { @class = "p-btn" })
                    </div>
                    <div class="card-footer">

                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id })
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
































