@model DiscountCatalog.MVC.REST.Product.ProductREST

@{
    ViewBag.Title = "DeleteProduct";
}

<h3>Are you sure you want to delete @Model.ProductName</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountDateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountDateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountDateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountDateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetAllProducts")
        </div>
    }
</div>
