@model DiscountCatalog.MVC.REST.Product.ProductREST

@{
    ViewBag.Title = "DeleteProduct";
}

<div id="product-info">
    <h2 style="font-size: large">Are you sure you want to delete this product?</h2>
    @*<div class="avatar" style="background-image: url(@Url.Action("GetStoreImage", "StoreAdmin", new { id = Model.Id })); "></div>*@
    <div class="avatar" style="margin-left: 20px; background-image: url(data:image/gif;base64,@Convert.ToBase64String(Model.ProductImage)"></div>
    <h2>@Model.ProductName</h2>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Company name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            Old price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldPrice) @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            New price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewPrice) @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            Discount percentage
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPercentage)%
        </dd>

        <dt>
            Discount date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountDateBegin) - @Html.DisplayFor(model => model.DiscountDateEnd)
        </dd>

        <dt>
            Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity) @Html.DisplayFor(model => model.MeasuringUnit)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Note
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("ProductDetails", "Store", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    }
</div>
