@model PagedList.IPagedList<DiscountCatalog.MVC.REST.Product.ProductREST>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/IndividualPageStyles/GetAll/GetAll_products.css" rel="stylesheet" />

@{
    ViewBag.Title = "GetAllExpiredProducts";
}

<h2>All deleted products</h2>

<hr />


<div class="search-container">
    @using (Html.BeginForm("GetAllExpiredProducts", "Store", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentPrice = ViewBag.CurrentPrice, currentDate = ViewBag.CurrentDate }, FormMethod.Get, new { @class = "form-inline", id = "filter-form" }))
    {
        <table id="filter-table">
            <tr>
                <td class="table-label data-cell">
                    <label for="SearchString">Search:</label>
                </td>
                <td class="data-cell">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", id = "search-box" })
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </td>
                <td class="data-cell"></td>
            </tr>
            
        </table>

        <br>
    }
</div>

<div class="container">
    <table>
        <tr>
            Sort by:
            <th>
                @Html.ActionLink("Name", "GetAllExpiredProducts", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, currentPrice = ViewBag.CurrentPrice, currentDate = ViewBag.CurrentDate }),
            </th>
            <th>
                @Html.ActionLink("Price", "GetAllExpiredProducts", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter, currentPrice = ViewBag.CurrentPrice, currentDate = ViewBag.CurrentDate })
            </th>
        </tr>
    </table>
</div>



<div class="container">
    <div class="row" id="products">
        <!-- Category Card -->
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card rounded deleted">

                    <div class="card-image greyed" style="background-image: url(data:image/gif;base64,@Convert.ToBase64String(item.ProductImage)); border-radius:10px!important">
                        <span class="card-notify-year" style="background-color: #bfbfbf;"><big>@Convert.ToInt32(item.DiscountPercentage)%</big></span>
                    </div>

                    <div class="card-image-overlay m-auto">

                    </div>
                    <div class="card-body text-center">
                        <div class="p-title m-auto">
                            <h5>@item.ProductName</h5>
                        </div>
                        <br />
                        <div>
                            <span class="card-detail-badge" id="old" style="background-color: #bfbfbf;">@item.OldPrice @item.Currency</span>
                            &nbsp;
                            <span class="card-detail-badge" id="new" style="background-color: #bfbfbf;">@item.NewPrice @item.Currency</span>
                        </div>
                        <br />
                        <div class="text-center">
                            <p class="h4">@item.DiscountDateBegin - @item.DiscountDateEnd</p>
                        </div>
                        <br />
                        @Html.ActionLink("Refresh", "EditProduct", new { id = item.Id, expired = true }, new { @class = "p-btn-restore" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("GetAllExpiredProducts",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentPrice = ViewBag.CurrentPrice, currentDate = ViewBag.CurrentDate }))

<div>
    <a href="@Url.Action("GetAllProducts", "Store")" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
</div>

@Styles.Render("~/Content/IndividualPageStyles/Common")
@Styles.Render("~/Content/IndividualPageStyles/GetAll")
@Scripts.Render("~/Scripts/IndividualPageScripts/GetAll")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
}


