@model DiscountCatalog.MVC.REST.Product.ProductREST

@{
    ViewBag.Title = "ProductDetails";
}

<h2>@Model.ProductName Details</h2>

@if (Model != null)
{
    <div>
        <hr />

        <div style="width: 50%; display: inline; float: right">

            @using (Html.BeginForm("PostProductImage", "Store", FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
            {
                <label for="file">Upload Image:</label>
                <input type="hidden" name="id" id="id" value="@Model.Id">
                <input type="file" name="file" id="file" style="width: 100%;" />
                <input type="submit" value="Upload" class="submit" />
            }

            <div style="background-image: url(@Url.Action("GetProductImage", "Store", new { id = Model.Id })); width: 100px; height: 100px;"></div>

        </div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OldPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OldPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NewPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NewPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiscountPercentage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiscountDateBegin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiscountDateBegin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiscountDateEnd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiscountDateEnd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditProduct", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "GetAllProducts")
    </p>
}


