@model AbatementHelper.CommonModels.WebApiModels.WebApiStore

@{
    ViewBag.Title = "Create a Store";
}

<h2>Create a Store</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StoreName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StoreName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container">
            @Html.LabelFor(model => model.WorkingHoursWeekBegin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='col-md-5'>
                <div class="form-group">
                    <div class='input-group date timepicker'>
                        @Html.EditorFor(model => model.WorkingHoursWeekBegin, new { htmlAttributes = new { type = "text", @class = "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.WorkingHoursWeekBegin, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model._WorkingHoursWeekBegin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            @Html.LabelFor(model => model.WorkingHoursWeekEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='col-md-5'>
                <div class="form-group">
                    <div class='input-group date timepicker'>
                        @Html.EditorFor(model => model.WorkingHoursWeekEnd, new { htmlAttributes = new { type = "text", @class = "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.WorkingHoursWeekEnd, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model._WorkingHoursWeekEnd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            @Html.LabelFor(model => model.WorkingHoursWeekendsBegin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='col-md-5'>
                <div class="form-group">
                    <div class='input-group date timepicker'>
                        @Html.EditorFor(model => model.WorkingHoursWeekendsBegin, new { htmlAttributes = new { type = "text", @class = "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.WorkingHoursWeekendsBegin, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model._WorkingHoursWeekendsBegin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            @Html.LabelFor(model => model.WorkingHoursWeekendsEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='col-md-5'>
                <div class="form-group">
                    <div class='input-group date timepicker'>
                        @Html.EditorFor(model => model.WorkingHoursWeekendsEnd, new { htmlAttributes = new { type = "text", @class = "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.WorkingHoursWeekendsEnd, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model._WorkingHoursWeekendsEnd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            @Html.LabelFor(model => model.WorkingHoursHolidaysBegin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='col-md-5'>
                <div class="form-group">
                    <div class='input-group date timepicker'>
                        @Html.EditorFor(model => model.WorkingHoursHolidaysBegin, new { htmlAttributes = new { type = "text", @class = "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.WorkingHoursHolidaysBegin, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model._WorkingHoursHolidaysBegin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container">
            @Html.LabelFor(model => model.WorkingHoursHolidaysEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='col-md-5'>
                <div class="form-group">
                    <div class='input-group date timepicker'>
                        @Html.EditorFor(model => model.WorkingHoursHolidaysEnd, new { htmlAttributes = new { type = "text", @class = "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.WorkingHoursHolidaysEnd, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model._WorkingHoursHolidaysEnd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "GetAllStores")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
}
