@model AbatementHelper.CommonModels.WebApiModels.WebApiStore

@{
    ViewBag.Title = "DeleteStore";
}

@if (Model != null && !Model.Deleted)
{
    <h2>Delete @Model.StoreName</h2>

    <h3>Are you sure you want to delete this store?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StoreName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoreName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StoreAdminId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoreAdminId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Approved)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Approved)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Deleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "GetAllStores")
            </div>
        }
    </div>
}
else
{
    <h3>An error has occurred</h3>
    Html.ActionLink("Back to List", "GetAllStores");
}


