<li>@Html.ActionLink("Manager Panel", "Index", "Manager")</li>
<li>@Html.ActionLink("Store Panel", "Index", "Store")</li>

<li>@Html.ActionLink("Register", "AccountTypeSelection", "User")</li>
<li>@Html.ActionLink("Login", "Login", "User")</li>
<li>@Html.ActionLink("Log out", "Logout", "User")</li>
