@model DiscountCatalog.MVC.REST.Account.AccountREST

@{
    ViewBag.Title = "Details";
}


<div id="user-info">
    <div class="avatar" style="background-image: url(@Url.Action("GetUserImage", "Account", new { id = Model.Id })); "></div>
    <h2 style="display: inline">@Model.UserName</h2>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<hr />

<div id="main-details-window">

    <div class="image-form-container">

        @using (Html.BeginForm("PostUserImage", "Account", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "image-form" }))
        {
            <p>Upload a new image:</p>
            <label class="btn btn-primary" id="browse-button" for="default-file-browse"><span class="glyphicon glyphicon-folder-open"></span> Browse...</label>
            <input type="hidden" name="id" id="id" value="@Model.Id">
            <input id="default-file-browse" type="file" name="file" onchange="PreviewImage();" />
            <br>
            <img id="uploadedPreview" alt="">
            <br>
            <div id="form-actions">
                <button class="btn btn-secondary" type="submit"><span class="glyphicon glyphicon-upload"></span> Upload</button>
                <button class="btn btn-danger" id="cancel" type="button" onclick="Clear();"><span class="glyphicon glyphicon-remove"></span> Cancel </button>
            </div>
        }

    </div>



    <div class="user-info-container">

        <h4><span class="glyphicon glyphicon-user"></span> User info</h4>

        <dl class="dl-horizontal">
            <dt>
                Username
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                First name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                Last name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Phone number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>

        <h4><span class="glyphicon glyphicon-map-marker"></span> Address</h4>

        <dl class="dl-horizontal">
            <dt>
                Country
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                City
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                Postal code
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>

            <dt>
                Street
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>
        </dl>

        <p>
            <a href="@Url.Action("Edit", "Account")" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a href="@Url.Action("Delete", "Account")" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </p>
    </div>
</div>

@Styles.Render("~/Content/IndividualPageStyles/Common")

@Styles.Render("~/Content/IndividualPageStyles/Details")

@Scripts.Render("~/Scripts/IndividualPageScripts/Details")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

